.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #191718;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s;
}

.sidebar a {
  display: block;
  padding: 22px 22px;
  text-decoration: none;
  color: #fff;
  border-bottom: 0.1px solid #555;
  font-size: 16px;
  font-weight: 500;
}

.sidebar a:hover {
  cursor: pointer;
  background: #5c5c5c;
}

.nav__toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  height: 30px;
  width: 35px;
  background-color: var(--body-color);
  border: 1px solid #e8dfec;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    left: -200px;
    opacity: 80%;
  }
  .nav__toggle {
    display: flex;
  }

  .nav__toggle-open {
    color: white;
    left: 140px;
  }

  .show-menu {
    left: 0%;
  }
}
